.timestamp-folder-search {
  width: calc(100% - 20px);
}

.timestamp-bulk-modal__warning {
  color: var(--text-error);
}

.timestamp-bulk-modal {
  .progress-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    & progress {
      flex: 1;
    }
  }
}
